name: Deploy to SSD Server

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          script: |
            export NVM_DIR=\$HOME/.nvm &&
            [ -s \$NVM_DIR/nvm.sh ] && . \$NVM_DIR/nvm.sh &&
            cd /nestjs-bash-3
            git pull origin main
            npm install
            npm run build
            pm2 restart nest-api-2